.notification{
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-family: poppins, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    animation: slideFromTop 250ms ease-in;
}

@keyframes slideFromTop {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes slideBackToTop {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}