@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700);

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.row {
  width: 100%;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.order-tittle {
  margin-bottom: 5px;
  color: #555;
  font-family: "Lato", sans-serif;
  background: #6c63ff;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 10px;
}
.order-tittle a {
  color: #555;
  text-decoration: none;
  margin-right: 4px;
}

.title-row {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.title-row .page-title h1 {
  margin: 15px 0;
}

.order_sorter {
  width: 100%;
  position: relative;
  padding-left: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 18px ;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.order_sorter li {         /*Order history and crt deck*/
  list-style: none;
  display: inline-block;
  margin: 0 50px 0 0;
  position: relative;
  bottom: -1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  word-wrap: break-word;
}
.order_sorter li.first {  /*Order history Alignment*/  
  margin: 0 5px;
}
.order_sorter li.selected {    /*Underline(order histroy)*/
  border-bottom-color: #6c63ff;
  font-weight: 700;
}
.order_sorter a {
  text-decoration: none;
  color: #555;
}

.order-summary {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.order-summary div {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 23.75%;
  float: left;
  box-sizing: border-box;
  margin-right: 15px;
  text-align: center;
  border-left: 5px solid #6c63ff;
  border-right: 5px solid #6c63ff;
  border-top: 5px solid #6c63ff;
  border-bottom: 5px solid #6c63ff;
  padding: 10px;
}
.order-summary div:last-child {
  margin-right: 0;
}
.order-summary div h2 {
  font-size: 24px;
  font-weight: 400;
}
.order-summary div h3 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.order-container {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
}
.order-container .header {
  padding: 14px 18px;
  background: #6c63ff;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}
.order-container .header .col-1 {
  float: left;
  width: 20%;
  background-color: #6c63ff;
  color: #fff;

}
.order-container .header .col-2 {
  float: left;
  width: 15%;
  background-color: #6c63ff;
  color: #fff;
}
.order-container .header .col-3 {
  float: left;
  width: 40%;
   background-color: #6c63ff;
  color: #fff;
}
.order-container .header .col-4 {
  float: left;
  width: 25%;
   background-color: #6c63ff;
  color: #fff;
}
.order-container .header span:nth-child(2) {
  display: block;
  font-weight: 600;
  margin-top: 4px;
}
.order-container .box {
  background: #fff;
  padding: 18px 18px;
}
.order-container .box img {
  max-width: 140px;
  border: 1px solid #ddd;
  box-shadow: 0;
  transition: box-shadow  0.5s;
}
.order-container .box img:hover {
  box-shadow: 0 0 3px #888;
}
.order-container .box .col-1 {
  float: left;
  width: 18%;
}
.order-container .box .col-2 {
  float: left;
  width: 62%;
}
.order-container .box .col-2 p {
  line-height: 1.4em;
  margin-bottom: 10px;
}
.order-container .box .col-2 .btn-default {
  width: 25%;
  font-size: 12px;
  padding: 5px;
}
.order-container .box .col-2 .product-title {
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

.order-container .box .col-3 {
  float: right;
  width: 20%;
}
.order-container .box a.btn-default {
  padding: 8px 0;
  background: #f3f3f3;
  border: 1px solid #6c63ff;
  border-radius: 10px;
  color: #555;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.order-container .box a.btn-default:hover {
  background: #6c63ff;
}