body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: cover;
    background-image: " ";
}
body::before{ 
    content: ""; background-image: url('images/new-banner-logo.png'); background-size: 100% 100%; position: absolute;
    inset: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -100;
}
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #fff;
}
.container, .form_input, .form_button {
    font: 500 1rem 'Quicksand', sans-serif;
}
.form--hidden {
    display: none;
}
.form > *:first-child {
    margin-top: 0;
}
.form > *:last-child {
    margin-bottom: 0;
}
.brand-logo {
    width: 150px;
    height: 150px;
    transform: translate(83%, -10%);
}
.form__title {
    margin-bottom: 2rem;
    text-align: center;
}
.form__message {
    text-align: center;
    margin-bottom: 1rem;
}
.form__message--success {
    color: var(--color-success);
}
.form__message--error {
    color: var(--color-error);
}
.form__input-group {
    margin-bottom: 1rem;
}
.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    outline: none;
    background: #eee;
    transition: background 0.2s, border-color 0.2s;
}
.form__input:focus {
    border-color: var(--color-primary);
    background: #fff;
}
.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}
.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}
.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: #5ac4fe;
}
.form__button:active {
    transform: scale(0.98);
}
.form__text {
    text-align: center;
}
.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}