body{
   background-color: white;
   font-family: nunito;
}
.topnav{
  background-color:white;
  display: flex;
  flex-direction: row;
  width: 600px;
  align-content: center;
  justify-content: space-between;
}
#Logo{
  border-radius: 111px; 
  margin-top: 5px;
  max-width: 100%;
}
.topnav .icons{
  margin-bottom: 15px;
  margin-left: 30px;
}
#heading{
  position: absolute;
  top: 0px;
  font-size: 40px;
  left: 520px;
  text-decoration: underline;
  
}
.FAQgrid{
  width: 830px;
  /* height: 1200px; */
  background-color: #FFDA7A;
  display: grid;
  position: absolute;
  top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  grid-template-rows: 100px,repeat(6,1fr);
  row-gap: 25px;
}
#headFAQ{
  display: flex;
  text-align: center;
  text-decoration: underline;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
  
#FAQ{
  width: 40px;
}
.content{
  width: 730px;
  height: 200px;
  margin-left: 50px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
 
.content p{
  font-size: 25px;
  margin-left: 20px;
  line-height: 50px;
}
.feedback{
  height: 680px;
  width: 450px;
  background-color:white;
  position: absolute;
  top: 130px;
  left: 890px;
}
.headFeedback{
  text-align: center;
  background-color: #FFDA7A;
  height: 70px;
  border-radius: 20px;
}
.headFeedback h1{
  padding-top: 12px;
  text-decoration: underline;
}
#feedback{
  margin: 0px 10px;
  width: 35px;
}
textarea{
  resize: none;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  box-shadow: 3px 3px 3px #adadad;
  border: 2px solid orange;
}

#Submit{
  position: absolute;
  top: 430px;
  left: 140px;
  border-radius: 30px;
  background: #3B72FF;
  height: 60px;
  width: 200px;
  font-size: 20px;
  color: white;
  border: #3B72FF;
}
.send p{
  text-align: center;
  position: absolute;
  top: 500px;
  font-size: 20px;
}

/* @media only screen and (max-width: 1650px) {
  .feedback{
     height: 680px;
     width: 500px;
     background-color:white;
     position: absolute;
     left: 980px;
     top: 130px;
  }
  #heading{
     position: absolute;
     top: 5px;
     font-size: 40px;
     left: 700px;
     text-decoration: underline;
     
  }
}  */
@media only screen and (max-width: 1320px){
  .FAQgrid{
     width: 800px;
  }
  .content{
     width: 700px;
  }
  .feedback{
     left: 850px;
     width:300px;

  }
  
  textarea{
     width: 300px
  }
  #Submit{
     left: 160px; 
  }
}
/*@media only screen and (max-width: 1400px) {
 
  .feedback{
     height: 680px;
     width: 500px;
     background-color:white;
     position: absolute;
     left: 285px;
     top: 1900px;
  }
  #heading{
     position: absolute;
     top: 5px;
     font-size: 40px;
     left: 600px;
     text-decoration: underline;
     
  }
} */
@media only screen and (max-width: 1050px) {
  #heading{
     position: absolute;
     top: 80px;
     font-size: 35px;
     left: 0px;
     margin-left: 50px;
    
     
  }
  .FAQgrid{
     width: 800px;
     /* height: 1200px; */
     background-color: #FFDA7A;
     display: grid;
     position: absolute;
     top: 200px;
     margin-left: 20px;
     margin-right: 20px;
     border-radius: 20px;
     grid-template-rows: 100px,repeat(6,1fr);
     row-gap: 25px;
  }
  .content{
     width: 700px;
     height: 200px;
     margin-left: 50px;
     background-color: #FFFFFF;
     border-radius: 20px;
  }
  .content p{
     font-size: 20px;
  }
  .feedback{
     height: 680px;
     width: 500px;
     background-color:white;
     position: absolute;
     left: 180px;
     top: 2050px;
  }

}
@media only screen and (max-width: 950px){
  .FAQgrid{
     width: 700px;
     /* height: 1200px; */
     background-color: #FFDA7A;
     display: grid;
     position: absolute;
     top: 200px;
     margin-left: 20px;
     margin-right: 20px;
     border-radius: 20px;
     grid-template-rows: 100px,repeat(6,1fr);
     row-gap: 25px;
  }
  .content{
     width: 600px;
     height: 200px;
     margin-left: 50px;
     background-color: #FFFFFF;
     border-radius: 20px;
  }
  .feedback{
     height: 680px;
     width: 400px;
     background-color:white;
     position: absolute;
     left: 180px;
     top: 1900px;
  }
}
@media only screen and (max-width: 400px){
     .FAQgrid{
        width: 500px;
     }
     .content{
        width: 400px;
        height: 210px;
     }
     .feedback{
        top: 1950px;
        left: 90px;
     }
}

  